* {
	padding: 0;
	margin: 0;
}
body {
	background-color: #f9f9f9;
	font-family: Arial;
}
.title {
	margin:0 0 40px 46px;
}
.title_text {
	font-size: 36px;
	padding-top: 50px;
}
.center {
    -webkit-box-sizing: border-box;
	background-color: #ffffff;
	width: 1060px;
	height: 950px;
	margin: 0 auto;
	box-shadow: 0px 0px 5px 0px black;
}
.center_body{
	margin-bottom: 700px;
}
.top_panel {
	/* background-color: #4a4949; */
	background: -webkit-linear-gradient(90deg, #444343 0%, #5e5e5e 100%);
	background: -moz-linear-gradient(90deg, #444343 0%, #5e5e5e 100%);
	background: -o-linear-gradient(90deg, #444343 0%, #5e5e5e 100%);
	background: -ms-linear-gradient(90deg, #444343 0%, #5e5e5e 100%);
	background: linear-gradient(0deg, #444343 0%, #5e5e5e 100%);
}
.bottom_panel {
	background-color: #e1e1e1;
}
.top_panel, .bottom_panel {
    -webkit-box-sizing: border-box;
	width:966px;
	height: 40px;
	border-collapse: collapse;
	margin: 40px 45px 40px 45px;
	font-size: 14px;
}
.top_panel li, .bottom_panel li{
	float:left;
	padding: 12px 24px 12px 24px; 
	list-style: none;
}
.top_panel li:hover{
	box-shadow: inset 1px 0px 0px 0px #e3e3e3, inset -1px 0px 0px 0px #e3e3e3;
	background: -webkit-linear-gradient(90deg, #2e2e2e 0%, #4a4a4a 100%);
	background: -moz-linear-gradient(90deg, #2e2e2e 0%, #4a4a4a 100%);
	background: -o-linear-gradient(90deg, #2e2e2e 0%, #4a4a4a 100%);
	background: -ms-linear-gradient(90deg, #2e2e2e 0%, #4a4a4a 100%);
	background: linear-gradient(0deg, #2e2e2e 0%, #4a4a4a 100%);	 
} 	
.left_panel {
    -webkit-box-sizing: border-box;
 	width: 240px;
	height: 240px;
	margin-left: 46px; 
	float:left;
}
.left_panel ul{
	border: 0 solid #c8c8c8;
	border-width: 0 0 1px 1px;

}
.left_panel li{
	list-style: none;
	border:0 solid #c8c8c8;
	border-width: 1px 1px 0 0;
	padding: 10px 0px 10px 24px;

}
.left_panel a {
	font-size: 12px;
}
.left_panel li:hover {
	padding-left: 36px;
	background-color: #f9f9f9;
}
.item {
	float:left;
    width: 678px;
    height: 600px;  
}
.item_photo {
	margin-left: 48px;
}
.item_description {
	margin: 40px 24px 60px 60px;
}
.item_description_text {
	font-size: 13px;
	width: 550px;
	height:150px;
}
.top_panel a:link, .top_panel a:visited {
	text-decoration:none;
	color: white; 
}
.left_panel a:link, .bottom_panel a:link, .left_panel a:visited, .bottom_panel a:visited {
	text-decoration:none;
	color: black; 
}
.bottom_panel_2014 {
	padding-left: 268px;
}
.bottom_panel li:hover {
	text-decoration: underline;
}
.bottom_panel p{
	padding-left: 350px;
	padding-top: 12px;
	
	float:left;
}
