* {
	margin: 0;
	padding: 0;
}
body {
	background-color: #bbd1dc;
    font-family: Arial;
    font-size: 12px;
    background: url(img/background.jpg) no-repeat;
    background-size: cover;
}
ul {
	list-style-type: none;
}
.background {
	width:100%;
	height:1036px;
	margin: 0 auto; 
	position: relative;
}
 .top_panel li a:link, .top_panel li a:visited {
	text-decoration:none;
	color: #4e9ed7;
	margin: 0 auto; 
}
.top_panel div a:link, .top_panel div a:visited, .f_fog a:link, .f_fog a:visited {
	text-decoration:none;
	color: #ffffff;
	margin: 0 auto; 
}
.top_panel {
	width: 100%;
	height: 36px;
	background: url(img/img-noise-1215x36.png) no-repeat;
    background-size: cover;
	margin: 0 auto;
	position: absolute;
	overflow: hidden;
}
.top_panel ul {
	float:left;	
}
div.top_panel>div {
	width: 900px;
	height: 36px;
	display: block;
	margin-left: 18%;
	margin-right: 15%;

	
}
.top_panel li, .top_panel div{
	float: left;
	text-decoration:none;
	margin-right: 10px;
	margin-left: 10px;
	font-size: 14px;
	text-align: center;

}	
 .top_panel li a {
	display: inline-block;
	height: 27px;
	padding-top: 8px;
	padding-left: 10px;
	padding-right: 10px;
}
.top_panel_m_border {
	position: relative;
	top:4px;
	height: 28px;
	border-left:1px solid #56a2dc;
}
.top_panel_m_border img {
	position: relative;
	top:5px;
	height: 28px;
}
.top_panel_m_border p {
	position: relative;
	top: 5px;
	left: -14px;
}
.button {
	height: 36px;
	box-sizing: border-box;
	padding-left: 14px;
	padding-right: 11px;
	display: block;
	padding: 8px 10px;
	background: rgba(81,177,220,1);
	background: -moz-linear-gradient(top, rgba(81,177,220,1) 0%, rgba(46,122,196,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(81,177,220,1)), color-stop(100%, rgba(46,122,196,1)));
	background: -webkit-linear-gradient(top, rgba(81,177,220,1) 0%, rgba(46,122,196,1) 100%);
	background: -o-linear-gradient(top, rgba(81,177,220,1) 0%, rgba(46,122,196,1) 100%);
	background: -ms-linear-gradient(top, rgba(81,177,220,1) 0%, rgba(46,122,196,1) 100%);
	background: linear-gradient(to bottom, rgba(81,177,220,1) 0%, rgba(46,122,196,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#51b1dc', endColorstr='#2e7ac4', GradientType=0 );
}
div.batton>a {
	

}
.top_panel div div p, .button a {
	color: #ffffff;
}
.top_panel div div p {
	margin-right: 5px;
}
.top_panel div span{
	text-decoration: underline;
}
.top_panel li:hover ,.top_panel li a:hover{
	background-color: #4eabda;
	color: #ffffff;
	height: 29px;
}
.top_panel div div img {
	margin-top: -5px; 
}
.Absolute-Center {
  width: 50%;
  height: 50%;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}
.Center-Container {
  position: relative;
}
.login_panel_top {
	width: 560px;
	height: 65px;
}
.login_panel_top {
	position:relative; 
 	text-align: center;  
 	font-size: 18px;
 } 
.login_panel_top p {
	padding-top: 23px;
	color:#ffffff;
}
.login_panel_bottom {
 	top: 3px; 
	width: 560px;
	height: 550px;
}
.login_panel_bottom p {

	text-align: center;
} 
.login_panel_top, .login_panel_bottom {
	background-color:rgba(0,0,0,.5);
	margin: 0 auto;
	/* box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.75); */
}
div.login_panel_bottom {
	box-sizing: border-box;
	padding: 20px 150px;
}
div.login_panel_bottom>form {
	margin-top:20px;
}
div.login_panel_bottom>form>div{
	margin-top:20px;
}
/* .login_panel_bottom ul{

	margin-left: 143px;
	margin-right: 143px;
}
.login_panel_bottom li, .top_panel li {
	list-style-type: none;
}
.login_panel_bottom ul li{
	width: 274px;
	height: 36px;
	margin-bottom: 10px;
	float: right;
	margin-top: 10px;
	color: #7f7f7f;
} */
h2 {
	margin-top: 20px;
	font-size: 12px;	
  	text-align: center;
}
h2.no-background {
  position: relative;
  overflow: hidden;
  
}
h2.no-background span {
  display: inline-block;
  vertical-align: baseline;
  zoom: 1;
  *display: inline;
  *vertical-align: auto;
  position: relative;
  padding: 0 20px;
}
h2.no-background span:before,
h2.no-background span:after {
  content: '';
  display: block;
  width: 1100px;
  position: absolute;
  top: 0.4em;
  border-top: 1px solid #666666;
  box-shadow: 0px 1px 0px 0px rgba(0,0,0,1);
  box-shadow:  
}
h2.no-background span:before {
  right: 100%;
}
h2.no-background span:after {
  left: 100%;
}
.f_fog {
	display: block;
	margin: 15px 10px 0 10px; 
	width: 276px;
	height: 35px;
	margin:15px 0 auto;
	border-top:2px solid #7b8cb8;
	background: #3e5599; /* Old browsers */
	background: -moz-linear-gradient(top, #3e5599 0%, #314174 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #3e5599 0%,#314174 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #3e5599 0%,#314174 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3e5599', endColorstr='#314174',GradientType=0 );
	border-radius: 5px;
}

.f_fog a p{
	display: block;
	padding-top: 7px; 
	margin-left: -40px;
	height: 36px;
	font-size: 14px; 
	text-align: bottom;
	/*  */
}

.f_fog a p span{
	font-weight: bold;
}
.f_fog a p:before {

	content:"f";
	box-sizing: border-box;
	padding-right: 25px;
	display:inline-block;
	width: 20px;
	
	font-weight: bold;
	font-size: 16px;
}
.f_fog a p:after {
	content:">";
	font-weight: bold;
	font-size: 14px;
	padding-left: 15px;
	box-sizing: border-box;
}
.f_fog_border{
	position: relative;
	height: 35px;	
	border-left: 1px solid #4f68aa;
	box-shadow: -1px 0px 0px 0px rgba(32,60,110,1);
	top:-43px;
	left:40px;


}
 /* .login_panel_bottom ul li {
 
 } */
input[type="text"], input[type="password"] {
	display:block;
	box-sizing: border-box;
	width: 274px;
	height: 36px;
	background-color: #000000;
	color: #7f7f7f;
	box-shadow: inset 0px -1px 0px 0px rgba(72,72,71,1);
	padding-left: 20px;
	font-size: 12px;
	border-width: 0;
	outline: none;
} 
input[type="text"]:focus, input[type="password"]:focus{
	box-shadow: 0px 0px 3px 1px rgba(255,255,255,0.5);;
	background-color: #1b5288;
}
input[type="button"] {
	display:block;
	width: 150px;
	height: 36px;
	margin: 0 auto;
	box-shadow: 0px -1px 1px 0px rgba(50, 50, 50, 0.5), 0px 1px 1px 0px rgba(50, 50, 50, 0.5);
	color: #ffffff;
	border-top:2px solid #6bb8e7;
	border-bottom: 1px solid #6bb8e7;
	border-right:1px solid #4b9dd7;
	border-left:1px solid #4b9dd7;
	background: rgba(81,177,220,1);
	background: -moz-linear-gradient(top, rgba(81,177,220,1) 0%, rgba(46,122,196,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(81,177,220,1)), color-stop(100%, rgba(46,122,196,1)));
	background: -webkit-linear-gradient(top, rgba(81,177,220,1) 0%, rgba(46,122,196,1) 100%);
	background: -o-linear-gradient(top, rgba(81,177,220,1) 0%, rgba(46,122,196,1) 100%);
	background: -ms-linear-gradient(top, rgba(81,177,220,1) 0%, rgba(46,122,196,1) 100%);
	background: linear-gradient(to bottom, rgba(81,177,220,1) 0%, rgba(46,122,196,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#51b1dc', endColorstr='#2e7ac4', GradientType=0 );
	/* box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75); */
	border-radius: 5px;
   	outline: none;
   	/* border:0; */
}
input[type="checkbox"] {
	display:inline-block;
	vertical-align: middle;
	/* margin-top: 15px; */
	margin-left: 5px;
}
.checkbox_text {
	display:inline-block;
	vertical-align: middle;
	margin-left: 5px;
	color: #c4c4c4;
}
.policy {
	width:310px;
	margin:0 auto;
	font-size: 11px;
	color: #c4c4c4;
 }
