<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- jquery --> 
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

	<!-- templateJs --> 
	<script src="js/tmpl.js"></script>


	<!-- Main css -->
	<link rel="stylesheet" type="text/css" href="css/js_13-14.css"> 
	<!-- Main js -->
	<script src="js/js_13-14.js"></script>

	<title>js_13-14</title>
	
<body>
	<div class="templateTest">
		<script type="text/tamplate" id="templateTest">
			<h3><%= data[0] %></h3>
			<% for (var i=0; i<data.length;i++) {%>

				<h6><%= data[i].question %></h1>
				<p><%= data[i].answerOne %></p>
				<p><%= data[i].answerTwo %></p> 
				<p><%= data[i].answerThree %></p>  
			<% } %>
			<button id="checkResults">Проверка ответов</button>
			<button id="generateResults">Генерация правильных ответов</button>
			</script>
			
		
	</div>
	<div class="Results">
		<div class="rightResults"></div>
		<div class="border"></div>
		<div class="yourResults"></div>
	</div>
</body>
</html>		

