//import
@import 'tree';
@import 'browserhappy';
//fonts----------------------------

//main page-----------------------
*{
	padding: 0;
	margin: 0;
	font-family: Roboto-Regular;
}
ul{
	list-style-type: none;
}
a:link, a:active, a:visited{
	text-decoration:none;
	color:#000000;
}
.clear{
	clear:both;
}

body{
	background-color: #81bee6;
}
button:focus {outline:0;}
//wraper---------------------------

h2 {
        font-size: 1.5em;
        line-height: 15px;
}
.map {
	width:800px;
	height: 800px;
	margin: 0 auto;
	float:left;
}
.scale-cnt {
margin: 5px;
}

.edit-form-ctn {
}

.edit-form {
float: left;
margin: 5px;
width: 230px;
padding: 4px;
border: 1px solid black;
display:none;
}

.edit-form input[type="button"] {
float: right;
}

.edit-form-elem label {
display: block;
float: left;
width: 85px;
}

.edit-form-elem input[type="text"] {
width: 60px;
}

.edit-form-elem select {
width: 130px;
}

.edit-form br {
clear: left;
}

.clearall {
clear: both;
}

.statistic{
float:left;
//width:150px;
color: black;
	.statistic table {
    border-collapse: collapse;
	}

	.statistic table, .statistic td, .statistic th {
	    border: 1px solid black;
	}
}





