/************************************************************************************
RESET
*************************************************************************************/
* {
	margin: 0;
	padding: 0;
}

/************************************************************************************
GENERAL STYLING
*************************************************************************************/
body {
	/* margin: 0 auto; */
	background-color: #9b87a7;
}

ul {
	list-style-type: none;
}
ul:after {
    display: block;
    content: ' ';
    clear: both;
    float: none;
}

@font-face {
    font-family: 'League Gothic Condensed Regular';
    src: url(fonts/LeagueGothic-Regular.otf);
}
@font-face {
    font-family: 'OpenSans';
    src: url(fonts/OpenSans-Semibold.ttf);
}
p, a, h2,h3,h1 {
	font-family: 'League Gothic Condensed Regular', Tahoma, 'Arial Narrow', Helvetica, sans-serif, Arial;
}
a:link, a:active, a:visited {
 	text-decoration: none;
 }
/************************************************************************************
STRUCTURE
*************************************************************************************/
.pagewrap {
	/* border:1px solid blue; */
	margin: 0 auto; 
	height: 100%;
}
.header_background { /* header background */
	background: url(img/body_bg_top.png) no-repeat center;
	background-size: auto 100%;
	position: relative;
	border-bottom: 1px solid #35283c;
}
.sub_header_background {	/* sub header background */
 	background-color:rgba(0,0,0,0.5);
 	position: absolute;
 	z-index: 1;
 	width:100%;
} 
.content_background {	/* content background */
	background-repeat: no-repeat;		
	background: rgb(55, 42, 62);
	background: -moz-linear-gradient(270deg, rgb(55, 42, 62) 10%, rgb(118, 83, 132) 90%);
	background: -webkit-linear-gradient(270deg, rgb(55, 42, 62) 10%, rgb(118, 83, 132) 90%);
	background: -o-linear-gradient(270deg, rgb(55, 42, 62) 10%, rgb(118, 83, 132) 90%);
	background: -ms-linear-gradient(270deg, rgb(55, 42, 62) 10%, rgb(118, 83, 132) 90%);
	background: linear-gradient(0deg, rgb(55, 42, 62) 10%, rgb(118, 83, 132) 90%);
	background-size: auto 100%;
	-webkit-box-shadow: 0px 1px 0px 0px rgba(33,51,59,1);
	-moz-box-shadow: 0px 1px 0px 0px rgba(33,51,59,1);
	box-shadow: 0px 1px 0px 0px rgba(33,51,59,1);
	border-bottom: 1px solid #000000;

}
.blog_background {	/* blog background */
	background-color: #f9f9f9;
	background-size: auto 100%;
	-webkit-box-shadow: inset 0px 10px 7px -7px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    inset 0px 10px 7px -7px rgba(50, 50, 50, 0.75);
	box-shadow:         inset 0px 10px 7px -7px rgba(50, 50, 50, 0.75);
	border-bottom: 1px solid #e6e6e6;
}
.blog_img_background { /* blog img background */
	background-color: #f9f9f9;
	background-size: auto 100%;
}
.categories_background { /* categories img  background */
	background-color: #ececec;
	background-size: auto 100%;
}
.footter_background { /* footter background */
	background: url(img/body_bg_bottom.png) no-repeat center;
	background-size: auto 100%; 
}
/************************************************************************************
HEADER
*************************************************************************************/
 .header {
	
	width: 100%;
	margin: 0 auto;
}
/************************************************************************************
HEADER logo
*************************************************************************************/
.site_logo {
	display: block;
}
/************************************************************************************
HEADER logo  
*************************************************************************************/
.site_logo a{
	color: #ffffff;
	text-transform: capitalize;
	font-size: 20px;
	text-shadow: 0px 1px 1px #ffffff;
	display: block;
}
.site_logo a span {
	color: rgba(115,79,130,1);
	color: -moz-linear-gradient(top, rgba(115,79,130,1) 0%, rgba(51,38,58,1) 100%);
	color: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(115,79,130,1)), color-stop(100%, rgba(51,38,58,1)));
	color: -webkit-linear-gradient(top, rgba(115,79,130,1) 0%, rgba(51,38,58,1) 100%);
	color: -o-linear-gradient(top, rgba(115,79,130,1) 0%, rgba(51,38,58,1) 100%);
	color: -ms-linear-gradient(top, rgba(115,79,130,1) 0%, rgba(51,38,58,1) 100%);
	color: linear-gradient(to bottom, rgba(115,79,130,1) 0%, rgba(51,38,58,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#734f82', endColorstr='#33263a', GradientType=0 );
	text-shadow: none;
}
/************************************************************************************
Header rollover bar
*************************************************************************************/
ul.home_rol_bar {
	display:block;
	padding: 0 auto;

}
ul.home_rol_bar a{
	color:#ffffff;
	text-transform: uppercase;
}
ul.home_rol_bar>li {
	float:left;
	position:relative;
}
ul.home_rol_bar>li>a {
	display:inline-block;
	color: #ffffff;
	padding: 2px 2px 2px 2px;
}
ul.home_rol_bar>li>a:hover {
	/* border-bottom: 1px solid #edbfff; */
	-webkit-box-shadow: inset 0px -2px 0px 0px rgba(237,191,255,1);
	-moz-box-shadow: inset 0px -2px 0px 0px rgba(237,191,255,1);
	box-shadow: inset 0px -2px 0px 0px rgba(237,191,255,1);
}
ul.home_rol_bar_hidden {
	display:none;
	position: absolute;
    width: 240px; 
    background-color:rgba(68,55,75,0.5);
    border-left:1px solid #000000;
	border-right:1px solid #000000;
	border-bottom:1px solid #000000; 
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	margin:0 auto;
	z-index: 10;
	margin-left:-1px;
	
}
ul.home_rol_bar_hidden>li {
	display: block;
	text-align: center;
	border-top: 1px solid #523f5a;
	-webkit-box-shadow: 0px -1px 0px 0px rgba(54,40,62,1);
	-moz-box-shadow: 0px -1px 0px 0px rgba(54,40,62,1);
	box-shadow: 0px -1px 0px 0px rgba(54,40,62,1);
}
ul.home_rol_bar_hidden > li > a {
    display: inline-block;
    padding: 2px;
    color: white;
 }

 ul.home_rol_bar_hidden>li:nth-child(1):hover, ul.home_rol_bar_hidden>li:nth-child(2):hover, ul.home_rol_bar_hidden>li:nth-child(3):hover, ul.home_rol_bar_hidden>li:nth-child(4):hover {
 	background-color:rgba(64,36,50,0.5);
 	-webkit-box-shadow: inset 0px -2px 0px 0px rgba(237,191,255,1);
	-moz-box-shadow: inset 0px -2px 0px 0px rgba(237,191,255,1);
	box-shadow: inset 0px -2px 0px 0px rgba(237,191,255,1);
 }
 ul.home_rol_bar_hidden>li:nth-child(5):hover {
 	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	background-color:rgba(64,36,50,0.5);
 	-webkit-box-shadow: inset 0px -1px 0px 0px rgba(237,191,255,1);
	-moz-box-shadow: inset 0px -1px 0px 0px rgba(237,191,255,1);
	box-shadow: inset 0px -1px 0px 0px rgba(237,191,255,1);
 }
 
 /************************************************************************************
Header rollover bar
*************************************************************************************/
/************************************************************************************
Header content low resolution
*************************************************************************************/
div.header_content {
	position: absolute;
	z-index: 2;
	top:250px;
	display:block;
	left:80px;
}
.header_content>div>h1 {
	color: #ffffff;
	font-size:27px;
	text-shadow: 0px 2px 2px rgba(150, 150, 150, 1);	
}
.header_content>div>h2 {
	color: #edbfff;
	font-size: 15px;	
	text-shadow: 0px 2px 2px rgba(150, 150, 150, 1);
	text-transform: uppercase;
}
.header_content>div>p {
	color: #ffffff;
	font-size: 14px;
	max-width: 75%;
}

/************************************************************************************
Header content low resolution
*************************************************************************************/
/************************************************************************************
header_content_nav low resolution
*************************************************************************************/
.header_content_nav_selector{
	background-image: url("img/nav_selector.png");
	height:19px;
	width:17px;
	background-position: 0 0;
}
.header_content_nav_selector:hover, .header_selected {
	background-position: 17px 0;
}
div.header_content_nav_selector{
	float:left;
	position: relative;
	top:50%;
	left:25%;
	margin-right:0.5em; 
}

/************************************************************************************
sub Header
*************************************************************************************/
.subheader {
	width:100%;
}
.sub_header:before {
	content: url(img/left_arrow.png);
	position: relative;
	z-index: 9999;
}
.sub_header:after {
	content: url(img/right_arrow.png);
	position: relative;
	z-index: 9999;
}

/************************************************************************************
content
*************************************************************************************/
.content {
	padding-top: 5%;
	color: #ffffff;
}
.lower_content_img_1 {
	background-image: url("img/lower_content_img.png");
	height:23px;
	width:30px;
	background-position: 0 0;

}
.lower_content_img_2 {
	background-image: url("img/lower_content_img.png");
	height:23px;
	width:30px;
	background-position: 0 24px;
}
.lower_content_img_3 {
	background-image: url("img/lower_content_img.png");
	height:23px;
	width:30px;
	background-position: 0 48px;
}
div.content_lower_content {
	display: block;
	width: 100%;
	margin-bottom: 30px;
}
div.content_lower_content>div {
	display: inline-block;
}
div.lower_content_img_1, div.lower_content_img_2, div.lower_content_img_3 {
	max-width:12%;
	margin-right: 6%;
	float:left;
}
div.lower_content_text {
	max-width: 82%;
	display: inline-block;
}
.lower_content_text{
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
}
.lower_content_text h2 {
	font-size: 30px;
	margin-bottom: 10px;
}
.lower_content_text h3 {
	text-align: right;
	margin-right: 10px;
	font-size: 20px;
	margin-top: 7px;
	position: relative;
	text-transform: uppercase;
	
}
.lower_content_text p{
	padding: 0 5px;
	overflow: hidden;
	font-size: 14px;
	max-height: 100%/14px;
}
.lower_content_text h3:hover {
	text-shadow: 0px 0px 5px rgba(255, 255, 255, 1);
}
/************************************************************************************
blog
*************************************************************************************/
.blog {
	padding-top:70px;
	box-sizing:border-box;
}
/************************************************************************************
LEFT blog
*************************************************************************************/
div.left_blog {
	width:100%;
	position: relative;

}
div.left_blog_img, div.left_blog_text {
	display: inline-block;
	float:left;
}
div.left_blog_img {
	position: absolute;
	z-index: 100;
	top:15px;
}
div.left_blog_text {
	margin-left: 10%;
	width:90%;
	background-color: #ffffff;
	padding-bottom: 15px;
}
div.left_blog_text>h2 {
	text-transform: uppercase;
	font-size:25px;
	margin-left: 10%;
	font-family: 'OpenSans';

}
div.left_blog_text>h2:first-of-type {
	padding-top: 20px;
	font-family: 'OpenSans';
}
div.left_blog_text>p{
	margin-left: 10%;
	font-size: 16px;
	font-family: 'OpenSans';
	overflow: hidden;
	max-height: 150px;
}
div.left_blog_text>h2>span {
	color:#f2d1ff;
}
/************************************************************************************
LEFT blog selector
*************************************************************************************/
div.left_blog_selector {
	position: relative;
	top: 26px;
	left: 32px;
}
.left_blog_selector_img{
	background-image: url("img/left_blog_selector.png");
	height:19px;
	width:17px;
	background-position: 0 0;
}
.left_blog_selector_img:hover, .blog_selected {
	background-position: 17px 0;
}
div.left_blog_selector_img{
	float:left;
	position: relative;
	top:50%;
	left:35%;
	margin-right:5px; 
}
/************************************************************************************
LEFT blog
*************************************************************************************/
/************************************************************************************
RIGHT blog
*************************************************************************************/
/* div.right_blog {
	clear:both;
	width:80%;
	position: relative;
	top:100px;
} */
div.right_blog{
	position: relative;
	width: 100%
	/* left: 10px; */
	margin-top: 22px;
}
div.right_blog>h2 {
	font-size: 30px; 
	text-transform: uppercase;
}
div.right_blog_img, div.right_blog_text {
	display: inline-block;
	float:left;
}
ul.right_blog_resent_updates {
	margin-top: 16px;
}
ul.right_blog_resent_updates>li {
	margin-bottom: 14px;
}
div.right_blog_resent_updates_text {
	position: relative;
	left:17px;
	top: -5px;
}
div.right_blog_resent_updates_text>h2{
	font-size: 25px;
	font-weight: bold;
	
}
div.right_blog_resent_updates_text>p{
	font-size: 18px;
	overflow: hidden;
	max-height:44px; 
}
div.right_blog>h3 {
	position: relative;
	text-align: center;
	right:2%;
	text-transform: uppercase;
	font-size: 18px;
}
/************************************************************************************
RIGHT blog
*************************************************************************************/
/************************************************************************************
blog
*************************************************************************************/
/************************************************************************************
blog IMG
*************************************************************************************/
div.blog_img {
	width:100%;
}
div.blog_img>div {
	float:left;
}
/************************************************************************************
blog IMG
*************************************************************************************/
/************************************************************************************
CATEGORIES
*************************************************************************************/
div.categories>div {
	width: 80%;
	padding-top: 20px;
	margin-bottom: 20px;
	margin:0 auto;
}
div.categories>div>h2 {
	font-size: 25px;
	text-transform: uppercase;
	color: #000000;
}
div.categories>div>p{
	font-size: 16px;
	color:#787878;
	margin-top: 20px;
}

/************************************************************************************
CATEGORIES
*************************************************************************************/
/************************************************************************************
FOOTTER
*************************************************************************************/

div.footter>h1 {
	font-size: 10px;
	color: #ffffff;
	text-shadow: 1px 2px 2px rgba(0, 0, 0, 1);
}
div.footter>h1>span {
	font-weight: bold;
	text-shadow: 2px 3px 3px rgba(0, 0, 0, 1);
}

/************************************************************************************
FOOTTER
*************************************************************************************/