* {
	margin: 0;
	padding: 0;
}
/************************************************************************************
header
*************************************************************************************/
div.header_bacground,  div.header{
	height:843px;
	width: 100%;
}
div.sub_header{
	height:400px;
	width: 100%;
}
div.sub_header>div {
	float: right;
	position: relative;
	top:200px;
	margin-right: 5%;
}
div.header_content_arrow {
	width: 200%;
}
div.header_content_nav {
	margin-top: 50px;
	
}
div.sub_header:before{
	content: url(img/left_arrow.png);
	position: relative;
	top: 60%;
}
div.sub_header:after{
	content: url(img/right_arrow.png);
	position: relative;
	top: 60%;
	left:92%;
}
ul.home_rol_bar>li {
	display: block;
	float: right;
	margin: 20px 2%;
}
div.site_logo {
	margin: 30px;
}
/************************************************************************************
header
*************************************************************************************/
/************************************************************************************
content
*************************************************************************************/
div.content_bacground,  div.content{
	height:268px;
	width: 100%;
	clear: both;
}
div.content>div {
	float:left;
	display: block;
	width:28%;
	margin: 0 2.5%;
	max-height: 90%;
	overflow: hidden;
}
/************************************************************************************
content
*************************************************************************************/
/************************************************************************************
blog
*************************************************************************************/
div.blog_bacground,  div.blog{
	height:416px;
	width: 100%;
}
div.blog>div {
	display: block;
	float:left;
	width: 45%;
	margin: 20px 2.5%;
}

/************************************************************************************
blog
*************************************************************************************/
/************************************************************************************
blog img
*************************************************************************************/
div.blog_img_bacground,  div.blog_img{
	height:111px;
	width: 100%;
}
div.blog_img>div {
	width: 14%;
	margin: 10px 1.3333% 10px 1.33%;
}
div.left_blog_img {
	position: absolute;
	left: 15px;
}
/************************************************************************************
blog img
*************************************************************************************/
/************************************************************************************
categories
*************************************************************************************/
div.categories_bacground,  div.categories{
	height:393px;
	width: 100%;
}
div.categories>div {
	float:left;
	display: block;
	width:28%;
	margin: 0 2.5%;
	max-height: 80%;
	overflow: hidden;
}
/************************************************************************************
categories
*************************************************************************************/
/************************************************************************************
footer
*************************************************************************************/
div.footter_bacground,  div.footter{
	height:111px;
	width: 100%;
}
div.footter>ul>li {
	float:left;
	display:block;
	margin: 20px 2% 0px 2%;
}
div.footter>ul>li>a {
	color: #ffffff;
	text-transform: uppercase;
	font-weight:bold;
}
div.footter>h1 {
	display: block;
	float: right; 
	width: 150px;
}
/************************************************************************************
footer
*************************************************************************************/
