*{
	margin:0;
	padding:0;
}
ul{
	list-style-type:none;
}
.clear{
	clear:both;
}
.wrapper{
	/* overflow:hidden; */
	background-color: #b3c6ff;
	margin:50px auto;
	border-radius: 5px;
	padding:10px;
	height: 100%;
}

.item-list{
	margin:30px 10px; 
	width:200px;

}
.item-list ul{
	-webkit-box-shadow: inset 0px 0px 3px 1px rgba(0, 102, 204,1);
	-moz-box-shadow: inset 0px 0px 3px 1px rgba(0, 102, 204,1);
	box-shadow: inset 0px 0px 3px 1px rgba(0, 102, 204,1);
	border-radius:4px;
}
.item-list li{
	
	border-radius: 4px;
	padding: 3px 8px;
	margin-bottom: 3px;
}
.item-list>div:hover .item-delete{
	text-shadow: 0px 0px 6px rgba(0, 13, 26, 1);
	color:#00264d;
}
.item-list li:hover{
	background: #99ccff;
	-webkit-box-shadow: inset 0px 0px 3px 1px rgba(0, 102, 204,1);
	-moz-box-shadow: inset 0px 0px 3px 1px rgba(0, 102, 204,1);
	box-shadow: inset 0px 0px 3px 1px rgba(0, 102, 204,1);
	border-radius:4px;
}
.item-delete{
	float:right;
	margin-right: 10px;
	font-weight: bold;
	color: #003366;
}
.item-add{
	background: #6e34d9;
	background-image: -webkit-linear-gradient(top, #6e34d9, #5b659c);
	background-image: -moz-linear-gradient(top, #6e34d9, #5b659c);
	background-image: -ms-linear-gradient(top, #6e34d9, #5b659c);
	background-image: -o-linear-gradient(top, #6e34d9, #5b659c);
	background-image: linear-gradient(to bottom, #6e34d9, #5b659c);
	-webkit-border-radius: 10;
	-moz-border-radius: 10;
	border-radius: 10px;
	font-family: Arial;
	color: #ffffff;
	font-size: 14px;
	padding: 3px 5px 3px 5px;
	text-decoration: none;
}
.item-add:hover{
	background: #cc3cfc;
	background-image: -webkit-linear-gradient(top, #cc3cfc, #d934b2);
	background-image: -moz-linear-gradient(top, #cc3cfc, #d934b2);
	background-image: -ms-linear-gradient(top, #cc3cfc, #d934b2);
	background-image: -o-linear-gradient(top, #cc3cfc, #d934b2);
	background-image: linear-gradient(to bottom, #cc3cfc, #d934b2);
	text-decoration: none;
}
.controlls{
	margin:30px 10px; 
	width:200px;
	text-align: center;
}
.controlls input[type="text"]{
	text-align: center;
	opacity: 0.5;
}