

//fonts----------------------------
@font-face {
    font-family: Roboto-Regular;
    src: url(../fonts/Roboto-Regular.ttf);
}
@font-face {
    font-family: Roboto-Thin;
    src: url(../fonts/Roboto-Thin.ttf);
}
@font-face {
    font-family: truthwillout;
    src: url(../fonts/truthwillout.ttf);
}
//main page-----------------------
*{
	padding: 0;
	margin: 0;
	font-family: Roboto-Regular;
}
ul{
	list-style-type: none;
}
a:link, a:active, a:visited{
	text-decoration:none;
	color:#000000;
}
.clear{
	clear:both;
}

body{
	background-color: #81bee6;
}
button:focus {outline:0;}
//wraper---------------------------
.menu{
	background-color: #b7d6eb;
	display:block;
	width: 180px;
	margin: 20px auto;
	padding: 20px 0;
	text-align: center;
	border:1px solid #4a4a4a;
	-webkit-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.75);
	input[type="text"]{
		text-align: center;
	}
}
.wraper{
	background-color: #b7d6eb;
	position: relative;
	width:640px;
	height:640px;
	margin: 0 auto;
	border:1px solid #4a4a4a;
	-webkit-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.75);
}
.canvas, .points{
	position:absolute;
}
.points{
	z-index:10;
}
.canvas{
	z-index:1;
}

