//import
//@import 'xxxxx';
//@import 'xxxxx';
//fonts----------------------------

//main page-----------------------
*{
	padding: 0;
	margin: 0;
	font-family: Roboto-Regular;
}
ul{
	list-style-type: none;
}
a:link, a:active, a:visited{
	text-decoration:none;
	color:#000000;
}
.clear{
	clear:both;
}

body{
	background-color: #81bee6;
}
button:focus {outline:0;}
//wraper---------------------------

