//scss import files--------------------
//scss import media screen-------------
@import 'media_screen';
@import 'carousel';

//font---------------------------------
@font-face {
    font-family: Roboto-Medium;
    src: url(../fonts/Roboto-Medium.ttf);
}
@font-face {
    font-family: Roboto-Thin;
    src: url(../fonts/Roboto-Thin.ttf);
}


// main scss---------------------------

*{
    margin:0;
    padding:0;
    font-family: Roboto-Medium;
}
*:focus {
    outline: none;
}
ul{
    list-style-type:none;
}
//wrapper-------------------------------
.wrapper{
    overflow:hidden;
    margin: 0 auto;
}

//header--------------------------------
.header{
    background-image: url("../img/1s_0005_Vector-Smart-Object.png");
    background-repeat: no-repeat;    
    height:700px;
    background-position: center center;
    margin: 0 auto;
}
.logo, .login{
    
    
}
.logo{ 
    p{
        color:#ffffff;
        font-size:18px;
    }
}
.login{
    
    p, form{
        display: inline-block;
    }
    p{
        color:#ffffff;
        margin-right:5px;
        font-size: 18px; 
    }
    form{
        input[type="text"]{
            background-color: transparent;
            width: 55px;
            padding: 5px;
            border-radius: 20px;
            border:2px solid #ffffff;
            text-align: center;
        }
    }
}
.find__text-big, .find__text-small{
    display:block;
    color:#ffffff;
    text-align: center;
}
.find__text-small{
    font-family: Roboto-Thin;
}
.find__button{
    background-color: #ff4e50;
    display:block;
    padding: 10px;
    border-radius: 20px;
    border-width: 0;
    color:#ffffff;
    font-weight: bold;
    margin: 0 auto;
    font-size: 14px;
}
.find__button:active{
    background-color: #fac0cb;
    color:#cf024d;
}
//-----------------------------------
//--about----------------------------
 .about>p{
    font-size:18px;
    color:#000000;
    text-align:center;
    margin-bottom:20px;
}
//-----------------------------------
//carousel---------------------------
//-----------------------------------
//partners---------------------------
.partners{
    
    position: relative;
    h1{
        margin-top:20px;
        text-align: center;
        font-size:20px;
        font-weight: bold;
        clear:both;
    }

}
.partners__other{
    background-color: #ffffff;
    display:block;
    padding: 5px 50px;
    border-radius: 20px;
    border:3px solid #ff4e50;
    color:#ff4e50;
    font-weight: bold;
    margin: 20px auto;
    font-size: 14px;
    clear:both;
}
.partners__other:hover{
    -webkit-box-shadow: 1px 1px 5px 0px rgba(247,129,149,1);
    -moz-box-shadow: 1px 1px 5px 0px rgba(247,129,149,1);
    box-shadow: 1px 1px 5px 0px rgba(247,129,149,1);
}
.partners__other:active{
    background-color: #fac0cb;
}
.person{
    width:200px;
    text-align: center;
    margin-bottom: 10px;

    h3{
        clear:both;
        font-size: 12px;
        font-weight: bold;
        margin-bottom: 10px;
    }
    p{ 
        font-size: 10px;
        font-family: Roboto-Thin;
    }
}
.person>div{
    width: 122px;
    margin: 20px auto;
}
.person__photo, .person__ability{
    float:left;
}
.person__photo>img{
    border-radius:90px;
}
.person__ability{
    position: relative;
    left:74px;
    top:-26px;
    background-color: #ff4e50;
    border-radius: 17px;
    width: 29px;
    height: 29px;
    border:3px solid #ffffff;
    img{
        display:block;
        position:relative;
        top:5px;
        left:7px;               
    }
}
//activity---------------------------
.activity{
    h1{
        text-align: center;
        font-size:20px;
        font-weight: bold;
    }
    h3{
        text-align: center;
        font-size: 16px;
        font-family: Roboto-Thin;
        margin-bottom: 15px;
    }
    form{

        input[type="text"]{
            background-color: transparent;
            width: 300px;
            padding: 5px 0;
            border-radius: 4px;
            border:1px solid #cccccc;
            text-align: left;
            display: block;
            margin: 10px auto;
            padding-left: 20px;

        }
    }
}
.activity__search{
    background-color: #ff4e50;
    display:block;
    width: 300px;
    padding: 5px 0;
    border-radius: 20px;
    border-width: 0;
    color:#ffffff;
    font-weight: bold;
    margin: 0 auto;
    font-size: 14px;
}
.activity__search:active{
    background-color: #fac0cb;
    color:#cf024d;
}
//------------------------------------
//--masonry---------------------------
.grid {
    margin: 0 auto;
    max-width: 300px;
}

/* clearfix */
.grid:after {
    content: '';
    display: block;
    clear: both;
}

/* ---- grid-item ---- */

.grid-item {
  
    height: 120px;
    float: left;
    /* background: #D26; */
    margin: 5px 0;
    border-color: hsla(0, 0%, 0%, 0.5);
    border-radius: 5px;
}
.grid-sizer{
    width: 300px;
}
//---inner-masonry--------------------
.background1, .background2, .background3, .background4, .background5, .background6, .background7{
    background-position: center center;
    background-repeat: no-repeat;
}
.background1::before, .background2::before, .background3::before, .background4::before, .background5::before,.background6::before, .background7::before{
    font-size: 20px;
    color:#ffffff;
    font-weight: bold;
    position: relative;
    top:30%;
} 
.background1{
    background-image: url("../img/masonry/img1.png");
}
.background1::before{
   content:"Sports and Activity"; 
   left:25%;
}
.background2{
    background-image: url("../img/masonry/img2.png");
}
.background2::before{
   content:"Wellness and Health";
   left:18%; 
}
.background3{
    background-image: url("../img/masonry/img3.png");
}
.background3::before{
   content:"Extreme Sports and Expeditions"; 
   left:1.5%;
}
.background4{
    background-image: url("../img/masonry/img4.png");
}
.background4::before{
   content:"Games"; 
   left:35%;
}
.background5{
    background-image: url("../img/masonry/img5.png");
}
.background5::before{
   content:"Culture and Education"; 
   left:16%;
}
.background6{
    background-image: url("../img/masonry/img6.png");
}
.background6::before{
   content:"Relaxation"; 
   left:30%;
}
.background7{
    background-image: url("../img/masonry/img7.png");
}
.background7::before{
   content:"Travelling"; 
   left:35%;
}
//------------------------------------
   
//footer------------------------------
.footer{
    margin-top: 40px;
    border-top:3px solid #ff4e50;
    h1{
        font-size: 20px;
        color:#ff4e50;
        font-weight: bold;
    }
    h3{
        clear:both;
        color:#000000;
        font-size: 16px;
    }
    h4{
        color:#cccccc;
        font-size: 12px;
    }
    li{
        font-size: 12px;
        font-family: Roboto-Thin;
    }
}

.footer__logo{
    margin:20px auto;
    width:100px;
    div{
        float:left;
        margin-left: 5px;
    }
    h2{
        color:#ff4e4f;
        font-size: 12px;
        font-weight: bold;
        letter-spacing: 5px;
    }
    h5{
       color:#ff4e4f;
       font-size: 6px;
       letter-spacing: 2px; 
    }
}

//-----------------------------------
 