<!DOCTYPE html>
<html lang="en">

<head>
  
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- jquery --> 
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <!-- livereload -->
  <script src="http://localhost:35729/livereload.js"></script>
  <!-- jcarousel -->
  <script src="js/lib/jquery.jcarousel.min.js"></script>
  <!-- tmpl -->
  <script src="js/lib/tmpl.js"></script>
  <!-- main css-->
  <link rel="stylesheet" href="css/main.min.css">
  <!-- main js-->
  <script src="js/scripts.min.js"></script>

  <title>test1</title>
</head>

<body>
  
<div class="wraper">
  <div class="header">
    <div class="panel">
      <div class="panel__logo"><a href="#">LAYOUT</a></div>
      <ul class="panel__middle">
        <li><a href="#">html</a></li>
        <li><a href="#">css</a></li>
        <li><a href="#">javascript</a></li>
      </ul>
      <button class="panel__button">ENTER</button>
    </div>
    <div class="jcarousel">
      <ul class="jcarousel-list">
       <script type="text/template" id="template">
         <% for (var i=0; i<data.length;i++) {%>
           <li class="jcarousel-item">
             <img src=" <%= data[i].imgLink %> " alt="img_1">
             <div>
               <p> <%= data[i].imgText %></p>
               <button>Go!</button>
             </div>
           </li>
         <% }%>
       
       </script>

        <!-- <li class="jcarousel-item">
          <img src="img/carousel/carousel_1.png" alt="img_1">
          <div>
            <p> Monetize your skills now!</p>
            <button>Go!</button>
          </div>
        </li>
        <li class="jcarousel-item">
          <img src="img/carousel/carousel_1.png" alt="img_2">
          <div>
            <p>Some text!!!!!!!</p>
            <button>Go!</button>
          </div>
        </li>
        <li class="jcarousel-item">
          <img src="img/carousel/carousel_1.png" alt="img_3">
          <div>
            <p>Next text!</p>
            <button>Go!</button>
          </div>
        </li>
        <li class="jcarousel-item">
          <img src="img/carousel/carousel_1.png" alt="img_4">
          <div>
            <p>Next letters!!!!!!!</p>
            <button>Go!</button>
          </div>
        </li>
        <li class="jcarousel-item">
          <img src="img/carousel/carousel_1.png" alt="img_5">
          <div>
            <p>And on start!</p>
            <button>Go!</button>
          </div>
        </li> -->
      </ul>
    </div>
    <a href="#" class="jcarousel-control-prev">&lsaquo;</a>
    <a href="#" class="jcarousel-control-next">&rsaquo;</a>
    <p class="jcarousel-pagination"></p>
  </div>
  <div class="article">
    <script type="text/template" id="article">
         <% for (var i=0; i<data.length;i++) {%>
           <ul>
             <li>
              <h2> 
                <%= data[i].imgHeader %>
              </h2>
              <p class="filecontents">
               <%= data[i].imgAbout %>
              </p>
            </li>
            <li>
              <p> <%= data[i].imgText %> </p>
              <img src=" <%= data[i].imgLink %> " alt="img">
            </li>
           </ul>
         <% }%>
       </script>
  </div>
  <div class="register clear"> 
    <div>
      <h2>Register</h2>
      <form action="">
        <input type="text" name="" id="email" placeholder="Email">
        <input type="password" name="" id="pass" placeholder="Password">
        <select name="select1" onmousedown="if(this.options.length>2){this.size=3;}" onchange="this.size=1;" onblur="this.size=1;">
          <option>Country 1</option>
          <option>Country 2</option>
          <option>Country 3</option>
          <option>Country 4</option>
          <option>Country 5</option>
          <option>Country 6</option>
          <option>Country 7</option>
        </select>
      </form>
      <button id="enter">Enter</button>
     </div> 
  </div>
  <div class="footer clear">
    <p>&copy; 2015 layout</p>
  </div>
</div>
 
</body>

</html>
