* {
    margin: 0;
    padding: 0;
}

h3 {
    width:40%;
    margin: 20px auto;
}
h6, p {
    width: 25%;
    margin: 0 auto;
}
h6 {
    margin-bottom: 10px;
}
p {
    margin-bottom: 5px;
    font-size: 10px;
}
button {
    margin: 0 auto;
    display: block;
}
ul,li {
    list-style-type: none;
}
.templateTest, .Results {
    
    margin:0 auto;
    background-color: #73b1e7;
    border-radius:4px;
    margin-bottom: 40px;
    width: 800px;
}
.rightResults {
    width: 45%;
    text-align: right;
    float: left;
    background-color: #73b1e7;
}
.yourResults {
    width: 49%;
    text-align: left;
    float: right;
    background-color: #73b1e7;
}
.border {
    
}
