* {
	margin: 0;
	padding: 0;
}
body {
    background: url(img/background.jpg) repeat-x center top fixed;
	background-size: cover;
    font-family: Arial;
    font-size: 12px;
}
body p {
	text-align: center;	
	color: white;
}
.dropdown_menu a:link, .dropdown_menu a:visited {
	text-decoration:none;
	color: #ffffff;
	margin: 0 auto; 
}
.background {
	width: 1000px;
	height: 1000px;
 	margin: 0 auto;
	/* box-shadow: 0 0 5px #333; */
	margin-top: -15px; 
	border-bottom: 2px solid #031d28;
	box-shadow: 3px 0px 5px 0px rgba(0,0,0,0.7), -3px 0px 5px 0px rgba(0,0,0,0.7);
}
.top_part {
	height: 175px;
	width: 1000px;
	background-color: #ffffff;
}
.top_part div {
	float: left;
}
.contacts {
	display: block;
	margin-left: 840px;
	padding-top: 10px;
	margin-bottom: 40px;
	margin-top: 10px;
}
.contacts p {
	/* margin-top: -6px; */
	color: #5fa5bb;
	font-size: 10px;
	text-align: left;
}
.top_part_logo img{
	margin-left: 32px;
	margin-top: 11px;
}
.top_part_flags li {
	width: 60px;
	float:right;
	font-size: 10px;
	text-align: center;
}
.top_part_flags a:link, .top_part_flags a:visited {
	color: #5fa5bb;
}
.photo {
	height: 237px;
	width: 1000px;
	background-image: url("img/photo.jpg");
	border-bottom: 1px solid #138aa7;
}
.dropdown_menu {
	height: 28px;
	width: 1000px;
	background-color: #343434; 
	
	border-top: 1px solid #cacbcb;
	box-shadow: 0px 5px #333;
	box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.75);
	z-index: 2;
	position: absolute;
} 
.dropdown_menu_hor {
	padding-top: 8px;
	padding-left: 65px;
} 
.dropdown_menu_hor, .left li, .right li , .top_part_flags, .top_part_flags li, .contacts{
	list-style:none;
}
.dropdown_menu_hor li {
	float:left;
	margin-right: 67px;
}
 .dropdown_menu_hor li a {
	position:relative;
	display: block;
}
.dropdown_menu_ver {
	display: none;
	position: absolute;
	-webkit-padding-start:0px;
	padding-top: 2px;
	background-color: #343434;
}
.dropdown_menu_ver li {
	float:none;
	display:block;
	background:none;
	padding: 5px 0px 5px 5px;
	margin-right: 10px;
}
li:hover ul, li.over ul{
	display:block;
}
.botom_part {
	z-index: 1;
	position: absolute;
}
.right, .left  {
	width:210px;
	height:588px;
	float:right;
	background-color: #edeef0;
}
.middle {
	width:580px;
	height:588px;
	float:right;
	background-color: #ffffff;
	box-shadow: inset 1px 0px 0px 0px rgba(199,202,207,1), inset -1px 0px 0px 0px rgba(199,202,207,1);
}
.left ul, .right ul {
	margin: 0 30px  0 30px;
}
.left li, .right li {
	padding-top: 5px;
}
.left p, .right p {
	color: black;
	padding-top: 50px;
}
span {
	font-weight: bold;
}
body > p {
	margin-top: 7px;
}