body {
	background-color: #f9f9f9;
	font-family: Arial;
}
.title {
	margin:0 0 40px 46px;
}
.title_text {
	font-size: 40px;
	padding-top: 50px;
}
.center {
    -webkit-box-sizing: border-box;
	background-color: #ffffff;
	width: 1060px;
	height: 950px;
	margin: 0 auto;
}
.center_body{
	margin-bottom: 700px;
}
.top_panel {
	background-color: #4a4949;
}
.bottom_panel {
	background-color: #e1e1e1;
}
.top_panel, .bottom_panel {
    -webkit-box-sizing: border-box;
	width:966px;
	height: 40px;
	border-collapse: collapse;
	margin: 40px 45px 40px 45px;
	font-size: 14px;
}
.top_panel li, .bottom_panel li{
	float:left;
	padding: 12px 24px 12px 24px; 
	list-style: none;
}
.top_panel li:hover{
	box-shadow: inset 2px 0px 0px 0px #e3e3e3, inset -2px 0px 0px 0px #e3e3e3;	 
} 	
.left_panel {
    -webkit-box-sizing: border-box;
 	width: 240px;
	height: 240px;
	margin-left: 46px; 
	float:left;
}
.left_panel li{
	list-style: none;
	border:1px solid #c8c8c8;
	padding: 10px 0px 10px 24px;	
}
.ch_left_panel {
	padding-left: 36px;
	background-color: #f9f9f9;
}
.left_panel li:hover {
	padding-left: 36px;
	background-color: #f9f9f9;
}
.item {
	float:left;
    width: 678px;
    height: 600px;  
}
.item_photo {
	margin-left: 48px;
}
.item_description {
	margin: 40px 24px 60px 60px;
}
.item_description_text {
	font-size: 13px;
}
span {
	text-decoration: underline;
}
a:link, a:visited {
	text-decoration:none;
	color: black; 
}
.bottom_panel_2014 {
	padding-left: 268px;
}