.carousel {
  /* box-sizing:  border-box; */
  padding-top: 100px;
  height: 300px; }

.carousel-hider {
  width: 1120px;
  overflow: hidden;
  margin: 0; }

.carousel-list {
  list-style: none;
  width: 10000px;
  padding: 0px;
  position: relative; }

.carousel-element {
  display: block;
  margin: 0 10px;
  float: left; }

.carousel-element img {
  max-width: 260px; }

.carousel-element-overlay {
  position: relative;
  float: left;
  height: 260px;
  cursor: pointer;
  -webkit-shadow: rgba(0, 0, 0, 0.2) 3px 5px 5px;
  -moz-shadow: rgba(0, 0, 0, 0.2) 3px 5px 5px;
  box-shadow: rgba(0, 0, 0, 0.2) 3px 5px 5px; }

.carousel-element-overlay:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  -moz-transition: all .1s linear;
  -webkit-transition: all .1s linear;
  -ms-transition: all .1s linear;
  -o-transition: all .1s linear;
  transition: all .1s linear; }

.carousel-element-overlay:hover:before {
  background: rgba(43, 177, 255, 0.5); }

.overlay-color:hover:before {
  background: rgba(43, 177, 255, 0.5); }

.carousel-element-overlay:after {
  content: "+";
  position: absolute;
  right: 40%;
  top: 35%;
  display: none;
  color: #ffffff;
  opacity: 0.5;
  font-size: 80px; }

.carousel-element-overlay:hover:after {
  display: block; }

.carousel-element > p {
  margin-top: 280px;
  color: #ffffff;
  text-align: center; }

.carousel-element > p:hover {
  color: #FFFF66; }

.carousel-arrow-right {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 130px 0 130px 50px;
  border-color: transparent transparent transparent #646f80; }

.carousel-arrow-left {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 130px 50px 130px 0;
  border-color: transparent #646f80 transparent transparent; }

.carousel-arrow-left, .carousel-arrow-right, .carousel-hider {
  float: left; }

.carousel-arrow-left:hover {
  cursor: pointer;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 130px 50px 130px 0;
  border-color: transparent #4469a3 transparent transparent; }

.carousel-arrow-right:hover {
  cursor: pointer;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 130px 0 130px 50px;
  border-color: transparent transparent transparent #4469a3; }

.carousel-arrow-left {
  margin-right: 5px; }

.carousel-arrow-right {
  margin-left: 5px; }

.endlesscarousel-wraper {
  width: 100%;
  height: 470px;
  display: block;
  box-sizing: border-box;
  margin-bottom: 40px; }

.hidden-endlesscarousel {
  display: none; }

.endlesscarousel {
  width: 1160px;
  margin: 10px auto;
  overflow: hidden; }

.flying-text {
  position: relative;
  top: -200px;
  left: 100px;
  /* p{
  	display: inline;
  	display:block;
  	border-size: padding-box;
  	padding:10px;
  	font-size:30px;		
  	color:#000000;
  	span{
  	color: #f4b60d;
  	font-size:40px;
  	width:200px;
  	}
  } */ }
  .flying-text li {
    padding: 5px;
    background-color: rgba(108, 108, 106, 0.5); }
  .flying-text li:nth-child(1) {
    color: #f4b60d;
    font-size: 30px;
    width: 100px; }
  .flying-text li:nth-child(2) {
    font-size: 30px;
    color: #000000;
    width: 100px; }
  .flying-text li:nth-child(3) {
    font-size: 30px;
    color: #000000;
    width: 150px; }

/*----- Accordion -----*/
.accordion, .accordion * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.accordion {
  overflow: hidden;
  /* box-shadow:0px 1px 3px rgba(0,0,0,0.25); */
  border-radius: 3px;
  background: #e2e2e2; }

.accordion-section a {
  margin-bottom: 20px; }

/*----- Section Titles -----*/
.accordion-section-title {
  width: 100%;
  padding: 15px;
  display: inline-block;
  border-bottom: 1px solid #1a1a1a;
  background: #ffffff;
  transition: all linear 0.15s;
  /* Type */
  font-size: 1.200em;
  text-shadow: 0px 1px 0px #1a1a1a;
  color: #ffffff; }

.accordion-section-title.active, .accordion-section-title:hover {
  background: #f4b60d;
  /* Type */
  text-decoration: none; }

.accordion-section:last-child .accordion-section-title {
  border-bottom: none; }

/*----- Section Content -----*/
.accordion-section-content {
  padding: 15px;
  display: none; }

@font-face {
  font-family: "Symbola";
  src: url(../fonts/Symbola.ttf); }
* {
  margin: 0;
  padding: 0; }

li {
  list-style-type: none; }

a:active, a:link, a:visited {
  text-decoration: none;
  color: #000000; }

body {
  font: 100% Helvetica, sans-serif, "Symbola"; }

.page-main, .header, .carousel, .article-top, .article-bottom {
  box-sizing: border-box; }

.page-main {
  /* margin: 0 auto; */
  width: 1920px; }

.header {
  height: 1200px;
  background-color: #ffffff; }

.carousel {
  height: 500px;
  background-color: #2a2d32; }

.article-top {
  height: 540px;
  background-color: #e2e2e2; }

.article-bottom {
  height: 248px;
  background-color: #ffffff; }

.footer-top {
  height: 327px;
  background-color: #2a2d32; }

.footer-bottom {
  height: 60px;
  background-color: #35383c; }

.page-wraper {
  margin: 0 auto;
  width: 1240px; }

.social {
  height: 19px;
  width: 140px; }

.logo, .social {
  margin: 30px 0; }

.logo li {
  float: left;
  margin-right: 10px; }

.social {
  float: right; }
  .social li {
    float: left;
    list-style-type: none; }

.social__facebook {
  background-image: url("../img/logos.png");
  background-position: 0 0;
  height: 17px;
  width: 24px; }

.social__facebook:hover {
  background-image: url("../img/logos.png");
  background-position: 0 -17px; }

.social__twitter {
  background-image: url("../img/logos.png");
  background-position: -34px 0;
  height: 17px;
  width: 24px; }

.social__twitter:hover {
  background-image: url("../img/logos.png");
  background-position: -34px -17px; }

.social__rss {
  background-image: url("../img/logos.png");
  background-position: -64px 0;
  height: 17px;
  width: 24px; }

.social__rss:hover {
  background-image: url("../img/logos.png");
  background-position: -64px -17px; }

.social__linkd-in {
  background-image: url("../img/logos.png");
  background-position: -94px 0;
  height: 17px;
  width: 24px; }

.social__linkd-in:hover {
  background-image: url("../img/logos.png");
  background-position: -94px -17px; }

.social__skype {
  background-image: url("../img/logos.png");
  background-position: -124px 0;
  height: 17px;
  width: 24px; }

.social__skype:hover {
  background-image: url("../img/logos.png");
  background-position: -124px -17px; }

.menu {
  clear: both;
  box-sizing: border-box;
  width: 100%;
  height: 40px;
  background-color: #2a2d32;
  margin: 30px 0; }
  .menu ul li {
    float: left;
    padding: 10.5px 20px;
    border-right: 1px solid #181a1d; }
    .menu ul li a {
      color: #ffffff; }
    .menu ul li a:hover {
      color: #cc9919; }
  .menu ul li:nth-child(1) {
    background-color: #248cec; }
  .menu ul li:nth-child(5) {
    float: right; }
    .menu ul li:nth-child(5) input[type="text"] {
      border: none; }
    .menu ul li:nth-child(5) span {
      border: 1px solid #000000;
      background-color: #ffffff; }

.header-article {
  margin-top: 30px; }

.header-article > ul {
  width: 30%;
  float: left; }

.header-article ul ul li {
  float: left; }

.header-article ul ul li:nth-child(odd) {
  width: 35%; }

.header-article ul ul li:nth-child(even) {
  width: 65%; }

.header-article h1 {
  font-size: 80px;
  color: grey;
  opacity: 0.3; }

.header-article p {
  margin: 10px 0;
  color: grey; }

.header-article span {
  margin-left: 8px;
  color: #0066FF; }

.header-article a {
  display: block; }

.header-article a :hover {
  color: #0066FF; }

.header-article a :hover span {
  color: #000000; }

.article-top h2 {
  margin-top: 30px;
  margin-bottom: 20px;
  margin-left: 20px; }

.article-top > div > ul > li {
  float: left;
  width: 45%;
  margin: 0 2.5%; }

.news > li {
  margin-top: 20px; }

.news__inner {
  width: 90%;
  margin: 0 auto; }
  .news__inner h4 {
    margin-bottom: 10px; }

.news__inner > li {
  float: left;
  margin: 25px 0;
  height: 150px; }

.news__inner > li:nth-child(1) {
  width: 30%; }

.news__inner > li:nth-child(2) {
  width: 60%;
  padding: 0 20px; }

.news__date > li:nth-child(1) {
  background-color: #248cec;
  padding: 10px;
  width: 30px;
  text-align: center;
  position: relative;
  top: -110px;
  left: -20px; }

.news__date > li:nth-child(2) {
  background-color: #f4b60d;
  padding: 10px;
  width: 30px;
  text-align: center;
  position: relative;
  top: -110px;
  left: -20px; }

.article-bottom li {
  float: left;
  margin: 7% 2.2%; }

.footer-top > div > ul {
  float: left;
  width: 20%;
  margin: 6% 2.5%; }

.footer-top > div > ul > li:nth-child(1) {
  color: #ffffff;
  font-size: 20px;
  margin-bottom: 20px; }

.footer-top li li {
  border-bottom: 1px solid #626468;
  width: 80%;
  font-size: 16px;
  padding: 5px 0; }
  .footer-top li li a {
    color: #626468; }

.footer-top a:hover {
  color: #00bfff; }

.footer-bottom {
  box-sizing: border-box; }

.footer-bottom li {
  float: left;
  margin: 1.5% 2%; }
  .footer-bottom li a, .footer-bottom li p {
    display: inline-block;
    margin: 0 15px;
    color: #626468; }

.footer-bottom > div > p {
  color: #626468;
  padding-top: 20px;
  text-align: right; }

/*# sourceMappingURL=main.css.map */
