<!DOCTYPE html>
<html lang="en">

<head>
  
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- jquery --> 
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <!-- masonry -->
  <script src="https://unpkg.com/masonry-layout@4.0/dist/masonry.pkgd.min.js"></script>
  <!-- livereload -->
  <script src="http://localhost:35729/livereload.js"></script>
  <!-- tmpl -->
  <script src="js/lib/tmpl.js"></script>
  <title>js_final_exam</title>
  <!-- main css-->
  <link rel="stylesheet" href="css/main.min.css">
  <!-- main js-->
  <script src="js/scripts.min.js"></script>
</head>

<body>
  
    <div class="wrapper">
      <div class="header">
        <div class="logo"><p>URLAUBSGLUK</p></div>
        <div class="login">
          <form action="">
            <p>Log In</p><input type="text" placeholder="Sign up">
          </form>
        </div>
        <div class="find">
          <p class="find__text-big">SHARE YOUR</p>
          <p class="find__text-big">HOLIDAYS DREAMS</p>
          <p class="find__text-small">And find the perfect partner to fullfill it</p>
          <button class="find__button">Find your holiday partner</button>
        </div>
      </div>
      <div class="about">
        <p>Meet a partner for your best holiday</p>
        <div>
          <div class="carousel-1">
            <div class="carousel-1__hider">
              <div class="carousel-1__arrow-left"></div>
              <ul class="carousel-1__list">
                <li class="carousel-1__element carousel-1__img-1">
                  <div>
                    <h6>Step 1</h6>
                    <h3>Sed leo enim, condimentum</h3>
                    <p>Quisque libero libero, dictum non turpis in? luctus semper lorem, Donec rhoncus a leo sit amet facilisis</p>
                  </div>
                </li>
                <li class="carousel-1__element  carousel-1__img-2">
                  <div>
                    <h6>Step 1</h6>
                    <h3>Sed leo enim, condimentum</h3>
                    <p>Quisque libero libero, dictum non turpis in? luctus semper lorem, Donec rhoncus a leo sit amet facilisis</p>
                  </div>
                </li>
                <li class="carousel-1__element  carousel-1__img-3">
                  <div>
                    <h6>Step 1</h6>
                    <h3>Sed leo enim, condimentum</h3>
                    <p>Quisque libero libero, dictum non turpis in? luctus semper lorem, Donec rhoncus a leo sit amet facilisis</p>
                  </div>
                </li>
              </ul>
              <div class="carousel-1__arrow-right"></div>
            </div>
          </div>
          <div class="carousel-2">
            <div class="carousel-2__hider">
              <div class="carousel-2__arrow-left"></div>
              <ul class="carousel-2__list">
                <li class="carousel-2__element carousel-2__img-1">
                  <div>
                    <h6>Step 2</h6>
                    <h3>Sed leo enim, condimentum</h3>
                    <p>Quisque libero libero, dictum non turpis in? luctus semper lorem, Donec rhoncus a leo sit amet facilisis</p>
                  </div>
                </li>
                <li class="carousel-2__element  carousel-2__img-2">
                  <div>
                    <h6>Step 2</h6>
                    <h3>Sed leo enim, condimentum</h3>
                    <p>Quisque libero libero, dictum non turpis in? luctus semper lorem, Donec rhoncus a leo sit amet facilisis</p>
                  </div>
                </li>
                <li class="carousel-2__element  carousel-2__img-3">
                  <div>
                    <h6>Step 2</h6>
                    <h3>Sed leo enim, condimentum</h3>
                    <p>Quisque libero libero, dictum non turpis in? luctus semper lorem, Donec rhoncus a leo sit amet facilisis</p>
                  </div>
                </li>
              </ul>
              <div class="carousel-2__arrow-right"></div>
            </div>
          </div>
          <div class="carousel-3">
            <div class="carousel-3__hider">
              <div class="carousel-3__arrow-left"></div>
              <ul class="carousel-3__list">
                <li class="carousel-3__element carousel-3__img-1">
                  <div>
                    <h6>Step 3</h6>
                    <h3>Sed leo enim, condimentum</h3>
                    <p>Quisque libero libero, dictum non turpis in? luctus semper lorem, Donec rhoncus a leo sit amet facilisis</p>
                  </div>
                </li>
                <li class="carousel-3__element  carousel-3__img-2">
                  <div>
                    <h6>Step 3</h6>
                    <h3>Sed leo enim, condimentum</h3>
                    <p>Quisque libero libero, dictum non turpis in? luctus semper lorem, Donec rhoncus a leo sit amet facilisis</p>
                  </div>
                </li>
                <li class="carousel-3__element  carousel-3__img-3">
                  <div>
                    <h6>Step 3</h6>
                    <h3>Sed leo enim, condimentum</h3>
                    <p>Quisque libero libero, dictum non turpis in? luctus semper lorem, Donec rhoncus a leo sit amet facilisis</p>
                  </div>
                </li>
              </ul>
              <div class="carousel-3__arrow-right"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="partners">
        <h1>Meet a partner for your best holiday</h1>
        <div class="person">
          <div>
            <div class="person__photo">
              <img src="img/partners/person_1.png" alt="photo">
            </div>
            <div class="person__ability">
              <img src="img/partners/ability_1.png" alt="ability">
            </div>
          </div>
          <h3 class="person__name">Bradley Hunter</h3>
          <p class="person__about">Based in Chicago. I love playing tennis and loud music</p>
        </div>
      <div class="person">
        <div>
          <div class="person__photo">
            <img src="img/partners/person_2.png" alt="photo">
          </div>
          <div class="person__ability">
            <img src="img/partners/ability_2.png" alt="ability">
          </div>
        </div>
        <h3 class="person__name">Lucas Marsha</h3>
        <p class="person__about">I get my inspiration from nature and objects around me. I have a passion to colours, photography and skateboards.</p>
      </div>
      <div class="person">
        <div>
          <div class="person__photo">
            <img src="img/partners/person_3.png" alt="photo">
          </div>
          <div class="person__ability">
            <img src="img/partners/ability_3.png" alt="ability">
          </div>
        </div>
        <h3 class="person__name">Heather Walker</h3>
        <p class="person__about">I'm happy person that loves cats and climbing on mountains.</p>
      </div>
      <div class="person">
        <div>
          <div class="person__photo">
            <img src="img/partners/person_4.png" alt="photo">
          </div>
          <div class="person__ability">
            <img src="img/partners/ability_4.png" alt="ability">
          </div>
        </div>
        <h3 class="person__name">Bradley Hunter</h3>
        <p class="person__about">Based in Chicago. I love playing tennis and loud music</p>
      </div>
      <button class="partners__other">See other partners</button>  
    </div>
    <div class="activity">
      <h1>Discover holidays activity ideas</h1>
      <div class="grid">
        <div class="grid-sizer"></div>

        <script type="text/template" id="template">
          <% for (var i=0; i<data.length;i++) {%>
            <div class="grid-item <%= data[i].tagClass %>  grid-sizer"></div>
          <% }%>

        </script>
        <!-- <div class="grid-item background1 grid-sizer"></div>
        <div class="grid-item background2 grid-sizer"></div>
        <div class="grid-item background3 grid-sizer"></div>
        <div class="grid-item background4 grid-sizer"></div>
        <div class="grid-item background5 grid-sizer"></div>
        <div class="grid-item background6 grid-sizer"></div>
        <div class="grid-item background7 grid-sizer"></div> -->
      </div>
      <h1>Discover holidays activity ideas</h1>
      <h3>Hi!What are your holiday interests?</h3>
      <form action="">
        <input type="text" placeholder="Enter your interesr">
        <button class="activity__search">Search partners</button>
      </form>
    </div>
    <div class="footer">
      <div><h1>URLAUBSGLUCK</h1></div>
      <div>
        <h3>Company</h3>
        <ul>
          <li>About</li>
          <li>Contacts</li>
          <li>Press</li>
          <li>Blog</li>
        </ul>
      </div>
      <div><h3>Partners</h3></div>
      <div class="footer__logo">
        <h4>DESIGNED BY</h4>
        <div>
          <img src="img/footer_logo.png" alt="logo">
        </div>
        <div>
          
          <h2>ARETO</h2>
          <h5>DEVELOPMENT</h5>
        </div>
      </div>
    </div>
  </div>
 
 
</body>

</html>
